.accordion {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}

.accordionItem {
  background-color: #1e2130;
  list-style: none;
}

.accordionItemTitle {
  margin: 0;
  padding: 1rem;
  background-color: #363e57;
  cursor: pointer;
  font-size: 1.15rem;
  color: #c1d9fa;
}

.accordionItemContent {
  display: none;
  padding: 1rem;
  background-color: #2c344a;
}

.open {
  display: block;
}
